{%extends 'base.html'%}

{%load static%}


{%block content%}
    <section class="dashboard-section" style="background-image:url('{%static "images/market.jpg"%}') ;">
    </section>

    {%if messages%}
    {%for message in messages%}
    <div class="container">
        <div class="alert alert-secondary" role="alert">
            {{message}}
        </div>
    </div>
    {%endfor%}
    {%endif%}

    <div class="container my-5">
        <div class="row my-5 text-muted">
            <h1>Products</h1>
        </div>
        <div class="row">
            {%for product in page.object_list %}
                {%if product.quantity > 0%}
                <div class="col-md-3 mb-2">
                    <div class="card shadow-sm">
                        <img src="{{product.image.url}}" class="img-fluid">
                        <div class="card-body">
                            
                          <p class="card-text">{{product.name}}</p>
                          <p class="card-text">{{product.vendor.name}}</p>
                          <p>GH&#8373; {{product.price}}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a class="btn btn-sm btn-outline-secondary" href="{%url 'order-product' product.id%}">Order Product</a>
                            </div>
                            <small class="text-muted">{{product.updated_at|timesince}}</small>
                          </div>
                        </div>
                      </div>
                </div>
                {%endif%}
            {%endfor%}
        </div>
        <div class="row my-4 text-center">
          <div class="col">
              <p>Page: {{page.number}}/{{page.paginator.num_pages}}</p>
          </div>
          <div class="col">
              <nav aria-label="Page navigation example">
                  <ul class="pagination">
                      {%if page.has_previous%}
                      <li class="page-item"><a class="page-link" href="{%url 'dashboard'%}?page={{page.previous_page_number}}">Previous</a></li>
                      {%endif%}
                      {%for i in page.paginator.page_range%}
                      <li class="page-item"><a class="page-link" href="{%url 'dashboard'%}?page={{i}}">{{i}}</a></li>
                      {%endfor%}
                      {%if page.has_next%}
                      <li class="page-item"><a class="page-link" href="{%url 'dashboard'%}?page={{page.next_page_number}}">Next</a></li>
                      {%endif%}
                  </ul>
              </nav>
          </div>
      </div>
    </div>
{%endblock%}