{%extends 'base.html'%}


{%block title%} Login {%endblock%}

{%block content%}
<div class="container-fluid d-flex justify-content-center align-items-center text-center flex-column"
    style="width: 100vw; height: 100vh; background-color:#40739e">
    <div class="row mb-3">
        <h2 class="text-light text-uppercase">Stock Managment System</h2>
    </div>
    <div class="row">
        <div class="col pt-5" style="background-color:#f5f6fa; padding:10px 40px;">
            <h1 class="text-uppercase">Sign In</h1>


            <form method="POST">
                {%csrf_token%}

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success message" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" name="username" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>

                <div class="mb-3">
                    {{form.errors}}
                </div>

                <button type="submit" class="btn btn-primary">Log In</button>

                <div class="my-3">
                    <a href="{%url 'register'%}" class="text-dark text-muted">If you don't have an account <span class="text-primary">Click Here</span></a>
                </div>

                <div class="mb-3">
                    <p><a href="{% url 'reset_password' %}" class="text-dark text-muted">Forgotten your password?</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}